.comment{
    display: flex;
    flex-direction: row;
    border-top: 2px solid #ffa94d;
    color: green;
}

.comment-section{
    color: #000;
    
}
.post-section{
    text-align: center;
    margin-bottom: 10%;
}
.post-title{
    margin-bottom: 5%;
}
.post-content{
}

.post-container{

}

.has-bg-img { 
    background-image: url(etsu_campus.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;


    margin-left: 15%;
    margin-right: 15%;
}

h1{
    color: black;
    font-size: 5rem;
    font-family: "Space Mono", monospace;
}

.container{
    text-align: center;
}