

/*Upvote/Downvote system*/

.vote_up_off {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background: url("/static/upvote.png");
    background-position: 0 -25px;
    margin-left: 5px;
  } 

  .vote_down_off {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background: url("/static/downvote.png");
    background-position: 0 -1px;
    margin-top: 3px;
  } 

  .vote_up_on {
    background-position: 0 2px;
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background: url("/static/upvote.png");
    margin-left: 5px;
  }

  .vote_down_on {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background: url("/static/downvote.png");
    background-position: 0 -28px;
    margin-top: 3px;
  } 