{% extends "base.html" %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<title>BucHelp</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  
  a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-top: 6px;
  }

  .previous {
  background-color: #FFc72c;;
  color: black;
  }
  
  .round {
  border-radius: 50%;
}

</style>

<body>
  
  <section style="background-color:  #041E42;"class="hero is-small is-success mb-4">
    <div class="hero-body">
        <a href="/bucoverflow/home" style="text-align:left;float:left; margin-right: 20px; color: black;" class="previous round">&#8249; </a>
        <h1 class="texteffect title" data-value="About Us">About Us</h1>
    </div> 
  </section>
 

  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <img src="{% static 'etsu bucky.png'%}" width="250" height="400" class="center">
    <h2 class="w3-wide"><strong>BucHelp</strong></h2>
    <p class="w3-justify"> &emsp;&emsp;&emsp;BucHelp is a student created web-aplication designed to allow anyone to ask questions pertaining to East Tennessee State University.
                           Similar to StackOverflow, BucHelp allows students, professors, staff, and visitors to ask for and give help to anything related to the ETSU. 
                           Users can ask new questions or answer existing questions to further our understanding and better our school. BucHelp was created for CSCI-4350-002
                           in a semester long scrum project.
                           
    </p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p><strong>School</strong></p>
        <p>East Tennessee State University</p>
      </div>
      <div class="w3-third">
        <p><strong>Course</strong></p>
        <p>Software Engineering II</p>
      </div>
      <div class="w3-third">
        <p><strong>Professor</strong></p>
        <p>William Kinser</p>
      </div>
    </div>
  </div>
</body>

<script src="{% static 'script.js' %}"></script>

{% endblock content%}