{% extends "base.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<title>Our Team</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

</style>

<body>
  
  <section style="background-color:  #041E42;"class="hero is-small is-success mb-4">
    <div class="hero-body">
        <h1  class="texteffect title" data-value="Our Team">Our Team</h1>
    </div> 
  </section>
 

  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Meet Our Team</h2><br>

    <div class="w3-row w3-padding-32">
      <div class="w3-half">
        <b><u>Product Owner</u></b>
        <p>Victoria Dixon</p>
      </div>
      <div class="w3-half">
        <b><u>Scrum Master</u></b>
        <p>Colby Kledis</p><br><br><br>
      </div>
      <div class="w3-col">
        <b><u>Developers</u></b>
        <p>Garred Hawkins</p>
        <p>John Milhorn</p>
        <p>Reagan Mullins</p>
        <p>Alec Ratner</p>
        <p>Trevor Taylor</p>
        <p>Josiah Truelove</p>
      </div>
    </div>
  </div>

  <script src="{% static 'script.js' %}"></script>

</body>


{% endblock content%}