{% extends "base.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>


<body>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <section style="background-color:  #041E42;"class="hero is-small is-success mb-4">
        <div class="hero-body">
            <h1  class="title is-1">Post</h1>
        </div> 
    </section>

    <div class="post-container">
    <ul>
        <div class="post-section">
            <li class="post-title"><h1 class="title is-1">{{post.title}}</h1></li>
            <li><a>content:{{post.content}}</a></li>
        </div>
        <div class="comment-section"> <!-- needs to be a flex box column-->
             {% for comment in post.comments.all %}
            <div class="comment"> comment: {{ comment.content }}</div>
            <div>date: {{comment.created_at}}</div>
            <div><a href="/profile/{{comment.user.slug}}/">{{ comment.user }}</a></div>
            {% endfor %}
        </div>
    </ul>
    </div>  <!----POST-CONTAINER-->
</body>
</html>

{% endblock content%}