{% extends "base.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>


<body>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'vote.css' %}">
    
    <section style="background-color:  #041E42;"class="hero is-small is-success mb-4">
        <div class="hero-body">
            <h1  class="title is-1">Post</h1>
        </div> 
    </section>

    <div class="post-container">
    <ul>
        <div class="post-section">
            <li class="post-title"><h1 class="title is-1">{{post.title}}</h1></li>
            <li><a>content:{{post.content}}</a></li>
        </div>
        <div class="comment-section"> <!-- needs to be a flex box column-->
             {% for comment in post.comments.all %}
            <div class="comment"> comment: {{ comment.content }}</div>
            <div>date: {{comment.created_at}}</div>
            <div><a href="/profile/{{comment.user.slug}}/">{{ comment.user }}</a></div>
            {% endfor %}
        </div>
    </ul>

        <div>
            <form method="POST">
                {% csrf_token %}
                    <label for="content">content</label>
                    <textarea placeholder="Your content here" name="content" class="input"></textarea>                    
                <input class="button is-primary" type="submit" value="Submit"  style="margin-block:50px;">   
            </form>
        </div>
    </div>  <!----POST-CONTAINER-->


    <section class="container">
        <div class="columns">
            <div class="column is-9">
                <div class="box content">
                    <div class="columns">
                        {% if post %}
                        <div class="coulmn is-2">
                          <div style="display: flex; flex-direction: column;">
                            <span onclick="like_function({{post.pk}})" id="like-{{post.pk}}" class="vote_up_off"></span>
                            <div style="padding-left: 20px;" id="counter-{{post.pk}}"> {{ post.karma }} </div>
                            <span onclick="dislike_function({{post.pk}})" id="dislike-{{post.pk}}" class="vote_down_off"></span>
                          </div>
                        </div>

                        <div class="column">

                        </div>
                        {%endif%}
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'vote.js' %}"></script>
</body>
</html>

{% endblock content%}