{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
  <section style="background-color:  #041E42;"class="hero is-small is-success mb-4">
    <div class="hero-body">
        <h1  class="title is-1">Profile</h1>
    </div> 
  </section>
  <div class="post-container">
    <ul>
        <div class="post-section">
            <li class="post-title"><h1 class="title is-1">{{profile.user.username}}</h1></li>
            <li><a>Name:{{profile.fullname}}</a></li>
            <li><a>Bio:{{profile.bio}}</a></li>
            <li><a>Karma:{{profile.karma}}</a></li>
        </div>
    </ul>
    </div>  <!----POST-CONTAINER-->

{% endblock content %}