{% extends "base.html" %}
{% block content %}
{% load static %}

<!--
  This page functions as a feedback/report page. The user can submit their experience with different 
  emotion faces and then submit a string response through a textbox
-->

<!DOCTYPE html>
<title>Report</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<script src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<style>

/* CSS for feedback images*/
.ratings img{
    cursor:pointer;
    transition:all 0.5s;
    filter:grayscale();
    margin: 10px;
    height: 130px; 
    width: 130px;   
}

/* CSS for feedback images hover effect*/
.ratings img:hover{
   transform: scale(1.2);
   filter:none;
}

.transform{
  filter:grayscale();
}

</style>


<!--
  Start of HTML section of code. The user can submit their experience with different 
  emotion faces and then submit a string response through a textbox
-->
<body>
  
  <section style="background-color:  #041E42;"class="hero is-small is-success mb-4">
    <div class="hero-body">
        <h1  class="texteffect title" data-value="Report an Issue">Report an Issue</h1>
    </div> 
  </section>


  <form action="/bucoverflow/home" method="post">
    {% csrf_token %}
    <div class="w3-row-padding" style="margin:50px 100px">
      <div class="w3-col m15">
        <div class="w3-card w3-round w3-white">
          <div class="w3-container w3-padding" style="height:auto">


            <!--Top-half of the white feedback box-->
            <h6 style="font-size: 20px"; >Rate your experience:</h6> <br>
            <div class="ratings" style="text-align: center; column-count: 5; column-width:auto; margin-left: 90px; margin-right: 90px;">

              <div class="column">
                <img src="/static/feedback-faces/kinser-face.jpg">
              </div>
              <div class="column">
                <img src="/static/feedback-faces/slightly_sad.jpg">
              </div>
              <div class="column">
                <img src="/static/feedback-faces/neutral.jpg">
              </div>
              <div class="column">
                <img src="/static/feedback-faces/slightly_happy.jpg">
              </div>
              <div class="column">
                <img src="/static/feedback-faces/happy-new.jpg">
              </div>
            </div> <br> <br>


            <!--Bottom-half of the white feedback box-->
            <h6 style="font-size: 20px"; >Provide feedback or report issues:</h6> <br>
            <div class="field is-horizontal" style="width:auto">
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <textarea class="textarea" rows="7" placeholder="Type here:"></textarea>
                  </div> <br>
                  <button class="js-modal-trigger" input type="reset" data-target="modal-js-example" style="background-color: #023479; 
                                color:#ffffff; border-radius: 8px; padding-left: 7px; padding-right: 7px">
                    Submit
                  </button>
                </div>
              </div>
            </div>
  
            <div id="modal-js-example" class="modal">
              <div class="modal-background"></div>
                <div class="modal-content">
                  <div class="box" style="margin: 0 auto; width:fit-content; text-align: center; font-size: large;">
                    <p>Thank you for the feedback!</p>
                    <!-- Your content -->
                  </div>
                </div>
            </div>
                    
          </div>
        </div>
      </div>
    </div>
  </form>

</body>
</html>
 <br>

 <!--
  Submit button script functionality
  Source code: https://bulma.io/documentation/components/modal/#javascript-implementation-example
 -->

 <script>
      document.addEventListener('DOMContentLoaded', () => {
      // Functions to open and close a modal
      function openModal($el) {
        $el.classList.add('is-active');
      }

      function closeModal($el) {
        $el.classList.remove('is-active');
        window.location.href=("home");
      }

      function closeAllModals() {
        (document.querySelectorAll('.modal') || []).forEach(($modal) => {
          closeModal($modal);
        });
      }

      // Add a click event on buttons to open a specific modal
      (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
        const modal = $trigger.dataset.target;
        const $target = document.getElementById(modal);

        $trigger.addEventListener('click', () => {
          openModal($target);
        });
      });

      // Add a click event on various child elements to close the parent modal
      (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
        const $target = $close.closest('.modal');

        $close.addEventListener('click', () => {
          closeModal($target);
        });
      });

      // Add a keyboard event to close all modals
      document.addEventListener('keydown', (event) => {
        const e = event || window.event;

        if (e.keyCode === 27) { // Escape key
          closeAllModals();
        }
      });
    });
 </script>

<!--
  This script handles the feedback image filter based on the click. It also unhighlights 
  each selection when a new selection is made

  Source: Alec made dis shi baby letz goooooo!
-->

<script>
  $(".ratings img").click(function(){
      $(".ratings img").css("filter", "grayscale()");
    $(this).css("filter", "none");
  });
</script>

{% endblock content%}