{% extends "base.html" %}

{% block content %}
{% load static %}

<body>
    <section style="background-color:  #041E42;" class="hero is-small is-success mb-4">
        <div class="hero-body">
            <h1 class="texteffect title" data-value="Sign Up Page">Sign Up Page</h1>
        </div> 
    </section>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>
    <br><br><br><br><br><br>

    <script src="{% static 'script.js' %}"></script>
</body>
{% endblock content%}

